<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2><%=@event.game%> </h2>
      <%= cl_image_tag(@event.photo,
      width: 400, height: 300, crop: :fill) %>
      <p><%=@event.address%></p>
      <p><%=@event.date%> </p>
      <p><%=@event.description%> </p>
      <p>Il reste <%= @available_seats %> places dispos</p>
      <p>Price: <%=@event.fee%> </p>
    </div>
  <div class="col-xs-12 col-sm-4">
    <p style="margin: 10px 0;">Organisé par :</p>
  <div class="box-panini" id="" style="background-image:url(<%= cl_image_path(@event.user.avatar, width: 400, height: 300, crop: :fill, gravity: :face) %>);">

    <span class="club"><%= @event.user.team %></span>

<div class="info">
    <h2><%= @event.user.nickname %></h2>
    <p><%= @event.user.bio %></p>
    </div>
  </div>

  <% if policy(Reservation).create? %>
    <%= link_to "Réserver", new_event_reservation_path(@event), :class => "btn btn-primary" %>
   <% end %>
     <% if policy(@event).update? %>
    <%= link_to "Editer", edit_event_path(@event) %>
    <% end %>
     <% if policy(@event).destroy? %>
    <%= link_to "Annuler", event_path(@event),
      method: :delete,
      data: { confirm: "Vous êtes sûr?" } %>
      <% end %>
    </div>
  </div>
</div>
