<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag(@event.photo,
      width: 400, height: 300, crop: :fill) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2><%=@event.game %></h2>
      <p><%= @event.date %></p>
      <p><%= @event.address %></p>
      <p><%= @event.description %></p>
      <p>Capacity: <%= @event.capacity %> persons</p>
      <p>Price: <%= @event.fee %>€</p>
    </div>

    </div>
    </div>
</div>




