<h1>Evenement sélectionné</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <h2><%=@event.game%> </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <h2><%=@event.address%></h2>
    <h2><%=@event.date%> </h2>
    <h2><%=@event.description%> </h2>
    <h2>Il reste <span class="badge"><%= @available_seats %></span> places dispos</h2>
    <h2><%=@event.fee%> </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <%= link_to "Réserver", new_event_reservation_path(@event) %>
    </div>
  </div>
</div>
