<div class="box-home">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="search">
        <p><strong>Cherchez un canapé prêt de chez vous</strong></p>
        <%= form_tag events_path, method: :get do %>
        <div class="form-group">
          <%= text_field_tag :game,
          params[:game],
          class: "form-control",
          placeholder: "Votre équipe"
          %>
        </div>
        <div class="form-group">
          <%= text_field_tag :address,
          params[:address],
          class: "form-control",
          placeholder: "Votre ville"
          %>
        </div>
        <%= submit_tag "Go", class: "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <!--     <h2>Trouvez un <i class="fas fa-couch"></i> près de votre <i class="fas fa-home"></i></h2>
      -->
      <div class="description">
      <h1>Les matchs de votre équipe préférée entre amis</h1>
      </div>
    </div>
  </div>
</div>

<div class="games">
  <h2>Les prochains rendez-vous</h2>
  <%= render 'shared/list_match', event: @event %>
  </div>
